<form action="/answer">
  <!-- action = sending the form to where? -->
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Aks a question to the coach"  style="height: 32px; width: 200px;">
  <input type="submit" value="Ask!">
  <!-- <input type="submit"> -->
</form>
